/* Variabilisation */
:root{
    --primary-color:#78350F;
    --secondary-colr: 
}

*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
.bg-primary-color{
    background-color: var(--primary-color);
}
.text-primary-color {
    color : var(--primary-color);
}
.border-color{
    border-color: var(--primary-color);
}
.bg-gradient-oblique1{
    background-image:linear-gradient(695deg, #FEF3C7 70%, #FFFBEB 70%);
}
.bg-gradient-oblique2{
    background-image: linear-gradient(360deg, #0F172A 70%, #0F172A 70%);
}
.bg-image1{
    background-image: url('/images/Desktop.png');
}
.bg-image2{
    background-image: url('/images/Picture.png');
}
.bg-image3{
    background-image: url('/images/chaus-blanche.png');
}
.bg-image4{
    background: url('/images/AU.png') no-repeat;
}
.bg-image5{
    background-image: url('/images/GL.png') no-repeat;
}
.bg-image6{
    background-image: url('/images/PY.png') no-repeat;
}
.bg-image7{
    background-image: url('/images/RU.png') no-repeat;
}
